html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Titillium Web', sans-serif;

}

body {
	padding: 0;
    margin: 0;
	position: relative;
	font-family: 'Titillium Web', sans-serif;
  }




  .cabecalho {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
  }
  
  .menu.menu-home {
	background-color: #ffffff;
  }
  
  .menu {
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 0px; /* Adicione a margem superior para evitar que o conteúdo fique oculto */
	z-index: 999; /* Defina um valor alto de z-index */
  }
  
  .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .menu li {
	display: inline-block;
	margin: 0 10px;
	position: relative;
  }
  
  .menu li a {
	display: block;
	color: #000000;
	font-size: 20px;
	padding: 20px 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
  }
  
  .menu li a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #FF0000; 
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
  }
  
  .menu li a:hover {
	color: rgb(255, 9, 9);
  }
  
  .menu li a:hover::after {
	transform: scaleX(1);
  }
  
  .menu li.logo {
	margin-right: 0;
  }
  
  .menu li.logo img {
	width: 160px;
	height: 80px;
	margin-right: 10px;
  }
  
  
  

  .title-home {
	padding: 20px; /* Espaçamento interno para separar o texto do fundo */
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); /* Gradiente preto com 80% de opacidade */
	color: #ffffff; /* Cor do texto branco */
	border-radius: 10px;
  }
  

  .cabecalho-banner {
	position: relative;
	width: 100%;
	height: 8%;
  }
  
  .cabecalho-banner img {
	width: 100%;
	height: 100%;
  }
  
  .title-home {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #ffffff;
  }
  
  .title-home h3 {
	font-size: 30px;
	font-weight: bold;
	color: #cd0000;
	margin-bottom: 10px;
  }
  
  .title-home h2 {
	font-size: 30px;
	margin: 0;
  }
  
  .title-home p {
	font-size: 20px;
	margin: 10px 0;
  }
  
  .btn-saiba {
	display: inline-block;
	margin-top: 20px;
	padding: 15px 30px;
	border-radius: 3px;
	background-color: #cd0000;
	border: none;
	font-size: 1em;
  }
  
  .btn-saiba a {
	text-decoration: none;
	color: #ffffff;
  }



  
  .sobre-servicos {
	margin-top: 20px;
	background-color: #f4f4f4;
	padding: 10px 10px;
  }

  .sobre-servicos .container {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
  }

  .sobre-servicos h2 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: px;
  }

  .sobre-servicos h1 {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
  }

  .sobre-servicos p {
	text-align: center;
	line-height: 20px;
	font-size: 15px;
  }


.servicos{
	width: 94%;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    
}

.servicos li{
	display: block;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	padding: 30px 0px;
	box-sizing: border-box;
    flex: 1;
    max-width: 33.33%;
}

.servicos h2{
	margin: 30px 0;
	font-size: 1.5em;
	font-weight: bold;
}
.servicos h1{
	margin: 30px 0;
	font-size: 30px;
	font-weight: bold;
}

.servicos i{
	width: 80px;
	height: 80px;
	border-radius: 80px;
	line-height: 80px;
	background-color: #cd0000;
	color: #fff;
	font-size: 2em;
    
}
.servicos i:hover{
    background-color: rgb(255, 9, 9);
} 

.servicos-descricao{
	margin: 30px;
	font-size: 1.05em;
}


.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
	margin-bottom: 300px;
  }

  .slider-container h1 {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
  }


  .slider {
    display: flex;
    animation: slide-animation     30s linear infinite;
  }
  
  .slider {
	display: flex;
	animation: slide-animation 30s linear infinite;
  }
  
  @keyframes slide-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }




  .menu-rodape ul{
	margin: 50px 0 0 0;
}

.menu-rodape li{
	margin-bottom: 25px;
}

.menu-rodape li a {
	text-decoration: none;
	font-size: 1em;
	color: #ebebeb;
}

.cartao-aceitos{
	width: 100%;
	max-width: 300px;
	margin: 30px 0 0 0 ;
	padding-left: 100px;
}

.copyright{
	margin: 30px 0 0 0 ;
	line-height: 25px;
	color: #ebebeb;
}

.rodape-home{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	color: #ffffff;
	padding: 20px;

}

.rodape-home{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 300px;
	padding: 30px 0 0  20px;
	background-color: #000;
}

.rodape {
	margin-top: 10px;
	width: 100%;
	background-color: #000;
	color: #ffffff;
	padding: 20px;
	margin-top: auto;
  }
  
  .rodape {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 300px;
	padding: 30px 0 0 20px;
	background-color: #000;
  }

.localizacao i {
	padding-left: 30px;
	margin-bottom: 10px;
	line-height: 25px;
  }
  
  .localizacao i span {
	color: #fff; 
  }
  
  .localizacao i.fa-home {
	color: #CD0000; 
  }
  
  .localizacao i.fa-envelope {
	color: #CD0000; 
  }
  
  .localizacao i.fab.fa-whatsapp {
	color: #CD0000; 
  }
  
.redes-sociais{
	padding-left: 30px;
	margin: 50px 0 0 0;
}

.redes-sociais li{
	display: inline-block;
	margin: 0 3px;
}

.redes-sociais i {
	text-align: center;
	width: 46px;
	height: 46px;
	line-height: 46px;
	border-radius: 46px;
	background-color: #CD0000;
	color: #ebebeb;

}

#meu-video {
	padding: 10px;
	width: 900px; 
  }

  .video-centralizado {
	display: block;
	margin: 0 auto;
  }
  
  .videotop h3{
    font-size: 30px;
	text-align: center;
	
	font-weight: bold;
	color: #cd0000;
}

.sobre{
	font-size: 20px ;
    width: 88%;
    margin: 0 auto;
}

.sobre h3{
	font-size: 30px ;
    font-weight: bold;
    color: #CD0000;
}

.sobre p {
    margin: 20px 0 0 0;
    line-height: 22px;
}

.funcionamento{
	font-size: 30px ;
	text-align: center;
	padding-bottom: 10px;
    font-weight: bold;
    color: #CD0000;
}
.frente img{
	border: #000;
	padding-bottom: 10px;
	width: 50%;
	height: 10%;
	display: block;
	margin: 0 auto;
}

.servicos {
	padding: 20px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .item {

    flex: 0 0 calc(33.33% - 10px);
    text-align: center;
  }

  .image-wrapper {
    overflow: hidden;
  }

  .image-servico {

    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }

  .image-wrapper:hover .image-servico {
    transform: scale(1.1);
  }

  h2, p {
    margin: 10px 0;
  }

  .cabecalho-servicos {
	clear: both;
	padding: 25px 0;
	background-color: #ff0000;
	margin-top: 100px; 
  }
  
  .cabecalho-servicos h2 {
	text-align: center;
	font-size: 2.3em;
	color: #ebebeb;
  }
  
.localizacao-contato i{
	
	margin-bottom: 10px;
	line-height: 25px;
	color: #ff0000;
	font-weight: bold;
	
}

.title-contato h2{
	padding-top: 20px;
	font-size: 1.7em;
	margin-bottom: 40px;
	font-weight: bold;
	width: 90%;
	padding-bottom: 15px;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
}

form{
	margin: 30px 0;
}

label{
	font-weight: bold;
}



textarea{
	display: block;
	padding: 10px 10px;
}

.input-padrao{
	display: block;
	margin: 15px  0;
	width: 40%;
	padding: 10px 15px;
}
.btn-enviar{
margin-right: 10px;
	width: 80px;
	padding: 10px 0;
	background-color: #cd0000;
	border-radius: 3px;
	border: 1px solid #cd0000;
	color: #ebebeb;
}
.contato{

	margin-left: 5px;	
	font-size: 1em;
	font-weight: normal;
	color: #000;

}

.title-servicos h3{
    text-align: center;
    margin: 50px 0 0 0;
    font-weight: bold;
    color: #CD0000;
}

.title-servicos h2{
	text-align: center;
	margin: 50px 20px;
	line-height: 30px;
    font-weight: bold;
    font-size: 1.7em;
}
.container{
	width: 94%;
	margin: 0 auto;
}

.mapa{
	display: block;
	margin: 50px auto;
	width: 100%;
	max-width: 1000px;
	max-height: 450px;
}


#back-to-top {
	background: white;
	color: var(--text-color-light);
	border-radius: 50px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 60px; 
	height: 60px; 
  }
  

  

  .gallery {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
  }
  
  .row {
	display: flex;
	width: 100%;
  }
  
  .column {
	flex-basis: 33.33%;
	padding: 5px;
  }
  
  img {
	width: 100%;
	height: auto;
  }
  
  .modal {
	display: none;
	position: fixed;
	z-index: 9999; /* Defina um valor alto de z-index */
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal img {
	width: auto;
	height: 80%;
	display: block;
	margin: 0 auto;
  }
  
  .close {
	color: #fff;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
  }
  
  
  .promo h3{
    font-size: 30px;
	text-align: center;
	padding-top: 2%;
	font-weight: bold;
	color: #cd0000;
}

.center-button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  
  .floating-button {
	background-color: #4CAF50; 
	color: #ffffff; 
	font-size: 16px;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .floating-button:hover {
	background-color: #45A049; 
  }


  .contato-mapa {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3px;
  }

  .contato-home {
	flex: 1;
	padding: 10px;
	background-color: #d70a0a;
	color: #fff;
	text-align: right;
  }

  .contato-home h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }

  .contato-home p {
	font-size: 16px;
	margin-bottom: 10px;
  }

  .contato-home ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }

  .contato-home li {
	font-size: 14px;
	margin-bottom: 5px;
  }

  .mapa-container {
	flex: 1;
	background-color: #ff0000;
	position: relative;
	margin-left: 20px;
	display: flex;
	align-items: flex-start;
  }

  .mapa-container iframe {
	width: 100%;
	height: 100%;
	border: 0;
  }
